
/backend/__pycache__
backend/.DS_Store
/backend/logs
backend/OandaAPIData.log
backend/static/styles/main.css.map
backend/static/styles/main.scss
backend/.env
backend/routes/__init__.py
backend/routes/__pycache__/__init__.cpython-312.pyc
/backend/routes/__pycache__
/backend/routes/__pycache__
backend/routes/__init__.py
backend/routes/__pycache__/__init__.cpython-312.pyc
backend/.env
backend/routes/__init__.py
backend/utils/indicators/__init__.py
backend/backtest/__init__.py
backend/indicators/__init__.py
/backend/indicators/__pycache__
backend/optimization/__init__.py
backend/strategies/__init__.py
/backend/utils/__pycache__
/backend/backtest/__pycache__
/backend/optimization/__pycache__
backend/oanda_api/__init__.py
backend/static/__init__.py
backend/templates/__init__.py
/backend/oanda_api/__pycache__
/backend/strategies/__pycache__
/backend/logss
backend/app-full.py
/backend/oanda_api/logs
